# drivers/sharp/shlog/Kconfig

menu "SHLOG_SYSTEM"

comment "SHLOG_SYSTEM"

config SHLOG_SYSTEM
bool "SHLOG_SYSTEM driver"
default y

config SHLOG_SYSTEM_LOGCAT
bool "enable SHLOG_SYSTEM logcat"
depends on SHLOG_SYSTEM
default n


config SHLOG_SYSTEM_PANIC_ON_SUBSYS
bool "enable SHARP handler to call panic when subsystem crashed."
depends on SHLOG_SYSTEM
default n

endmenu
