#
# Sharp Touchscreen configuration
#

if TOUCHSCREEN_SHTPS

	config SHTPS_SY3X00_DEV
		tristate "SY3x00 Device"
		default n
		depends on TOUCHSCREEN_SHTPS

	config SHTPS_SY3000_PLG541_001_1
		tristate "SY3000 PLG541-001-1"
		default n
		depends on SHTPS_SY3X00_DEV

	config SHTPS_SY3000_PLG541_001_2
		tristate "SY3000 PLG541-001-2"
		default n
		depends on SHTPS_SY3X00_DEV

	config SHTPS_SY3000_PLG543_001_1
		tristate "SY3000 PLG543-001-1"
		default n
		depends on SHTPS_SY3X00_DEV

	config SHTPS_SY3000_PLG543_001_2
		tristate "SY3000 PLG543-001-2"
		default n
		depends on SHTPS_SY3X00_DEV

	config SHTPS_SY3000_PLG543_001_3
		tristate "SY3000 PLG543-001-3"
		default n
		depends on SHTPS_SY3X00_DEV

	config SHTPS_SY3000_PLG543_001_4
		tristate "SY3000 PLG543-001-4"
		default n
		depends on SHTPS_SY3X00_DEV

endif # TOUCHSCREEN_SHTPS
